.graph{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(223, 222, 222);
    padding: 25px;
    width:33%;
    margin: 10px 8px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);    
}

.donut{
    display: flex;
}
.bar{
    display: block;
}
.donutLegends{
    margin: 25px auto;
    float: right;
    width:25%;
}

.barLegends{
    display:block;
}